/*------------Home Page and Image Carousel ------------*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container div {
  background-image: url('../src/components/img/bittermelon.jpg');
  min-width: 200px;
  min-height: 200px;
}

.event-border {
  border: solid;
}

.container-event {
  display: flex;
  flex-direction: row;
  justify-content:left;
}

.contain div {
  border: 0px solid white;
  border-radius: 0px;
  background-color: white;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.item-1 {
  border: 0px solid white;
  border-radius: 0px;
  background-color: white;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.item-2 {
  border: 0px solid white;
  border-radius: 0px;
  background-color: white;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.item-3 {
  border: 0px solid white;
  border-radius: 0px;
  background-color: white;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.item-4 {
  border: 0px solid white;
  border-radius: 0px;
  background-color: white;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.item-5 {
  border: 0px solid white;
  border-radius: 0px;
  background-color: white;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

img {
  border-radius: 8px;
  flex: 1 0 200px;
}

h1 {
  color: #000;
  font-family: "Noto Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: #000;
  font-family: "Noto Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.event-info-container {
  border: 2px solid white;
  display: flex;
  padding: .25rem;
  justify-content: space-evenly;
  align-items: flex-start;
}

.event-carousel-container {
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  height: 300px;
  margin: auto;
}

.description p {
  margin: 20px;
}

/* .event-info-left {
  display: flex;
  flex-direction: column;
  width: 10px;
}

.event-info-middle {
  display: flex;
  flex-direction: column;
  width: 10px;
}

.event-info-right {
  display: flex;
  flex-direction: column;
  width: 10px;
} */

.image-container {
  border: 2px solid white;
}

.description-container {
  display: flex;
  flex-direction: row;
  border: 0px solid white;
}

.description {
  border: 0px solid white;
}

.image-carousel-container {
  display: flex;
  flex-direction: row;
  border: 2px solid white;
}

.left-panel {
  border: 0px solid white;
  width: 80%;
}

.right-panel {
  display: flex;
  flex-direction: column;
  border: 0px solid white;
  width: 50%;
}

.top-image {
  border: 2px solid white;
  height: 80%;
}

.bottom-image {
  border: 0px solid white;
  height: 80%;
}

@media screen and (max-width: 600px) {
  .container img {
    flex-basis: calc(50% - 10px); /* Adjust the percentage and margins as needed */
  }
}

@media screen and (max-width: 400px) {
  .container img {
    flex-basis: calc(100% - 10px); /* Adjust the margins as needed */
  }
}