:root {
	--background-color: white;
	--primary-color: #e8f1d4;
	--secondary-color: #fff;

	/* Define other variables */
}

html {
	background-color: var(--background-color);
}

body {
	margin: 0;
	min-height: 100vh;
	position: relative;
	background-color: var(--background-color);
}

/* NavBar Styles */

.nav {
	background-color: #D1E3C5;
  color: black;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav-item {
  padding: 0px 15px;
	font-size: 1.5em;
}

.nav .nav-item .nav-link {
  color: var(--secondary-color);
  text-decoration: none;
}

.nav-bar .nav-item .nav-link.active {
	/* Add your active link styles here */
	color: #e8f1d4;
}

.nav .site-title {
	display: flex;
	margin-block-start: 0.65em;

	color: var(--secondary-color);
	font-size: 1.5em;
	text-decoration: none;
}

.logo-img {
	width: 130px;
	/* Adjust the size as needed */
	height: auto;
	/* Maintain aspect ratio */
}

.nav-link:hover::after {
	content: "";
	display: block;
	margin: auto;
	height: 2px;
	/* Height of the line */
	width: 100%;
	/* Width of the line */
	background-color: var(--primary-color);
	/* Color of the line */
}

.nav-bar .nav-item .nav-link:hover {
	color: var(--secondary-color);
}